.sidebar {
  width: 100% !important;
  height: 100vh;
  background-color: #212631;
  color: white;
  overflow-y: auto !important;
}

.nav {
  height: 100%;
  width: 100%;
}

.nav-links {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  padding: 1rem;
  overflow-y: auto;
}

.links {
  display: flex;
  width: 100%;
  align-items: center;
  border-radius: 5px;
}
.links .icon {
  height: 60px !important;
  width: 60px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #777b83 !important;
}

.icon-link {
    width: 100%;
    height: 100%;
}

.icons {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
  color: white;
  padding: 10px 7px;
}

.icons span {
  font-size: 1.3rem;
}

.icons .btn {
  border-radius: 5px;
  color: #fff;
  background-color: rgb(121, 110, 170);
  cursor: pointer;
  padding: 4px 8px;
  font-size: 0.8rem;
  border: none;
}

.links:hover {
  background-color: rgba(240, 240, 240, 0.2);
}
