.nav-wrapper {
  height: 80px;
  background-color: #dee2eb;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav {
  display: flex;
  align-items: center;
  height: 100%;
  padding-left: 1.3rem;
}

.search {
  display: flex;
  align-items: center;
  height: 50%;
  background: #ffffff;
  border-radius: 5px;
  width: 300px;
}

 input {
  font-size: 1rem;
  height: 100%;
  background: transparent;
  width: 250px;
}

.search-icon {
  opacity: 0.8;
}
